Source: facsimile
Maintainer: Taylor Raack <taylor@raack.info>
Section: misc
Priority: optional
Build-Depends: debhelper (>= 9.0.0), default-jdk
Standards-Version: 3.9.5
Homepage: https://github.com/facsimile-linux/facsimile

Package: facsimile
Architecture: all
Depends: ${misc:Depends}, default-jre, encfs, jq, libc-bin, rsync, coreutils, sudo, sshfs, util-linux
Recommends: openssh-client
Description: Unintrusive, simple snapshot backup system
 Facsimile backups files with snapshots so you don't have to.
