[Desktop Entry]
Name=Facsimile Toolbar
Comment=Show the Facsimile Toolbar to view backups
Exec=/usr/bin/facsimile-toolbar
Type=Application
Categories=GNOME;GTK;Utility;
StartupNotify=false
X-GNOME-Autostart-enabled=true
